@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657290146536') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e50d";
}

.icon-youxiang:before {
  content: "\e61a";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-google:before {
  content: "\ea0c";
}

.icon-weixin:before {
  content: "\e607";
}

